<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Notebook

## Introduction

### Data Science Languages

- Pandas
- Numpy
- Scipy
- TensorFlow
- PyTorch
- Matplotlib

## Table

|Data science tools |
| ----------------- |
| IBM Datacap       |
| MySQL             |
| Microsoft Power BI|
| python            |
| R                 |
| Jupyter Notebook  |

## Introducing arithmetic expression examples.

In [6]:
NUMBER = 600
total_time = NUMBER + 60
print("Add => ", total_time)

Add =>  660

In [5]:
NUM = 250
TOT_NUM = NUM * 60
print("Multiply => ",TOT_NUM)

Multiply =>  15000

### Minutes to hours

In [9]:
SEC_TO_MIN = 60
ONE_MIN_TO_HR = SEC_TO_MIN / 60
print("MIN TO HOUR = >  60 min = " , ONE_MIN_TO_HR , "hr")

MIN TO HOUR = >  60 min =  1.0 hr

# Objectives

- I gonna learn about Jupyter Notebook
- I GONNA LEARN ABOUT FUNCTION AND TOOLS

## Authorâ€™s name

### ANTONY SHELTON